<?xml version='1.0' encoding='utf-8'?>
<widget id="com.abp.in" version="1.0.21" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Blood</name>
    <description>Donate blood save life</description>
    <author email="dev@abp.org" href="http://cordova.io">ABP</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="market:*" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-targetSdkVersion" value="23" />
        <icon density="ldpi" src="res/android/mipmap-ldpi/icon.png" />
        <icon density="mdpi" src="res/android/mipmap-mdpi/icon.png" />
        <icon density="hdpi" src="res/android/mipmap-hdpi/icon.png" />
        <icon density="xhdpi" src="res/android/mipmap-xhdpi/icon.png" />
        <icon density="xxhdpi" src="res/android/mipmap-xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="res/android/mipmap-xxxhdpi/icon.png" />
        <splash density="land-hdpi" src="res/android/drawable-land-hdpi/screen.png" />
        <splash density="land-ldpi" src="res/android/drawable-land-ldpi/screen.png" />
        <splash density="land-mdpi" src="res/android/drawable-land-mdpi/screen.png" />
        <splash density="land-xhdpi" src="res/android/drawable-land-xhdpi/screen.png" />
        <splash density="land-xxhdpi" src="res/android/drawable-land-xxhdpi/screen.png" />
        <splash density="land-xxxhdpi" src="res/android/drawable-land-xxxhdpi/screen.png" />
        <splash density="port-hdpi" src="res/android/drawable-port-hdpi/screen.png" />
        <splash density="port-ldpi" src="res/android/drawable-port-ldpi/screen.png" />
        <splash density="port-mdpi" src="res/android/drawable-port-mdpi/screen.png" />
        <splash density="port-xhdpi" src="res/android/drawable-port-xhdpi/screen.png" />
        <splash density="port-xxhdpi" src="res/android/drawable-port-xxhdpi/screen.png" />
        <splash density="port-xxxhdpi" src="res/android/drawable-port-xxxhdpi/screen.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <allow-navigation href="*" />
        <preference name="DisallowOverscroll" value="true" />
        <allow-intent href="market:*" />
    </platform>
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="5000" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="SetFullscreen" value="false" />
    <preference name="orientation" value="portrait" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    <plugin name="cordova-open" spec="^1.0.12" />
    
    <plugin name="cordova-plugin-geolocation" spec="^2.4.3" />
    <plugin name="cordova-plugin-network-information" spec="^1.3.4" />
    <plugin name="cordova-plugin-splashscreen" spec="^4.1.0" />
    <gap:plugin name="cordova-plugin-sms" source="npm" />
    <plugin name="cordova.plugins.diagnostic" spec="^3.8.1" />
    <engine name="android" spec="^6.4.0" />
</widget>
