*{
    margin: 0;
    padding: 0; 
}
.notifications{
  .event-navigation {
    @extend .flex !optional;
    justify-content: space-around;
    padding-top: 16px;
    background-color:#ff0000; // position: fixed;
    width: 100%;
    z-index: 2; 
        display:flex;
    .active {
        border-bottom: 1px solid #ffffff
        ;
        color: #ffffff !important;
    }
    .list_tab {
        width: 50%;
        font-family: 'RobotoCondensed-Bold';
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: -1px;
    }
    .list_tab.active p {
        margin-bottom: 12px;
    }
}
.card{
    width:95%;
   display: flex;
    .nameIcon{
        width:10%;
    }
    .name{
        width:80%;
    }
    .icon{
        width:10%;
    }
}
.footer{
        bottom: 0px;
    position: absolute;
    background-color: white;
    width: 100%;
    height: 58px;
    .button{
                text-align: center;
    padding-top: 12px;
    width: 100%;
    background-color: white;
    font-size: 26px;
    color: #ec7e7e;

    }
}
    
}

